.span7.well.tablecolor
  %table.plist    
    %tr
      %th= t(".title_article")
      %th= t(".created_date")

    - @articles.each do |art|
      %tr.content{class: cycle('list_line_odd', 'list_line_even')}
        %td{style: "width:70%"}= link_to art.title, art, html_options = { class: "font14" }
        %td= art.created_at.strftime('%Y-%m-%d').to_s

%h1 Listing articles

%table
  %tr
    %th Title
    %th Content
    %th Published
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.content
      %td= article.published
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Article', new_article_path
